body {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 3vmin;
    background: #EEEEEE;
    margin: 2vmin;
    padding-top: 6vmin;
    color: #212121;
}
.click {
    font-size: 3vmin;
}
.logo {
    font-family: 'Kelly Slab', cursive;
    font-size: 6vmin;
}
.news {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 1vmin;
}
.sub-article {
    flex: auto;
    margin: 4vmin;
    width: 27vw;
    padding: 2vmin;
}
.sub-article .image {
    display: block;
}
.title {
    font-family: 'Arvo', serif;
    font-size: 5vmin;
    margin-left: 2vmin;
}
.subtitle {
    margin-bottom: 2vmin;
    margin-left: 2vmin;
}
.article {
    margin: 6vmin;
    width: 75vw;
    padding: 2vmin;
}

.article .title {
    font-family: 'Arvo', serif;
    font-size: 6vmin;
    margin-left: 4vmin;    
}

.article .content {
    margin-bottom: 4vmin;
    margin-left: 4vmin;
}
